.cabecalho{
    background-color: rgba(139, 0, 0, 0.945);
    color: rgb(255, 8, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 24px 0 ;
}
.cabecalho-imagem{
    width: 10%;
}
.cabecalho-lista-imagem{
    display:inline-block;
    margin: 0 16px;
    font-size: 16px;
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(red, rgb(184, 13, 13) );
    color:aliceblue ;
    display: flax;
    justify-content:center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
}
